.todos {
    max-height: inherit;
    overflow: scroll;
    width: 100%;

    input {
        width: 70%;
        margin: 0 20px;
        height: 20px;
    }
}

ul {
    padding-left: 20px;
    margin: 5px 0;
}

li {
    margin: 2px 0;
    cursor: pointer;
}

.complete.show{
    text-decoration: line-through;
}
.complete.hidden{
    text-decoration: initial;
}

#clear {
    margin: 10px 0;
    position: relative;
    left: 35%;
}