body {
    background-image: linear-gradient(to right, gainsboro , slategray);
}

.main-page {
    margin: 30px auto;
    border: 1px solid;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: bisque;
    padding: 10px;
}

h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}